{% extends 'base.html' %}

{% block title %}
    Rejestracja
{% endblock %}

{% block content %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <a href="{% url 'login' %}"><h2 class="inactive underlineHover"> Logowanie </h2></a>
            <h2 class="active"> Rejestracja </h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Zarejestruj">
            </form>
        </div>
    </div>
{% endblock %}